*.o
*.grpc.pb.*
*.exe
metadata/m
metadata/t
parser/Parse_INIT.cpp
parser/a.out
metadata/metadata.h
metadata/metadata.cc
executor/cpp/em
executor/cpp/mm
executor/cpp/em
executor/cpp/a.out
executor/cpp/test
executor/cpp/test.cpp
executor/cpp/test_tree
executor/cpp/test_tree.cpp
executor/cpp/a.out
executor/cpp/em
executor/cpp/mm
executor/cpp/test_tree
executor/cpp/test_tree.cpp
executor/cpp/CMakeLists.txt
